<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Damazon</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <nav>
        <a href="/">Damazon</a>
        <div>
            <a href="/products">Products</a>

            <% if (isLoggedIn) { %>
                <a href="/dashboard">Hello, <%= user.name %></a>
                <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                    <% } %>
        </div>

    </nav>

    <!-- Flash Messages-->
    <% if (successMessage) { %>
        <div class="flash-message success">
            <%= successMessage %>
        </div>
        <% } %>

            <% if (errorMessage) { %>
                <div class="flash-message error">
                    <%= errorMessage %>
                </div>
                <% } %>