<%- include('./partials/header') %>

    <main class="home">

        <!-- Hero Section -->
        <section class="hero">
            <div class="hero-content">
                <h1>Welcome to Damazon</h1>
                <p>Find the best tech products at the best price.</p>
                <a href="/products" class="btn-hero">Shop Now</a>
            </div>
        </section>

    </main>

    <%- include('./partials/footer') %>n